.btn {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
}

h1 {
  margin-top: 30px;
}

h6 {
  margin-bottom: 40px;
}

.error-msg {
  color: red;
}

.task {
  margin-top: 40px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.delete {
  background-color: red;
}

.delete:hover {
  background-color: rgb(249, 65, 65);
}